#contact{width: 100%;}
h2{font-size: 60px;text-align:center;}
#contact .con form strong{font-size: 25px;display:block;margin-top:50px;margin-bottom:15px;}
#contact .con form input{border:1px dotted #000;}
#contact .con form input[type='text']{font-size:16px;color:#333;font-style:italic;font-weight: 100;font-family: 'Bradley Hand ITC';}
#contact .con{display:flex;padding-left:100px;}
#contact .con form{margin-left:150px;}
#contact .con form input[type=text]{width: 250px;height: 50px;background:transparent;}
#contact .con form input[type=message]{height:250px;width: 500px;background:transparent;}
#contact .con form input[type=submit]{display:block;background:transparent;border:1px dotted #000;color:#000;font-size: 16px;line-height:40px;width: 100px;height: 40px;margin-top:50px;margin-left:200px;border-radius:10px;cursor:pointer;font-family:'Bradley Hand ITC';transition:0.6s;}
#contact .con form input[type=submit]:hover{background:#fcb69f;border:#fd7041;color:#fd7041}
#contact .method{margin-left:200px;}
#contact .method p{border-bottom:1px dotted #000;font-size: 25px;padding:50px 0;}
#contact .method p strong{display:block;margin-bottom:25px;}
#contact .method p em{display:block;margin-left:200px;}