img {
    width: 100%;
}
.clearfix {
    clear: both;
    display: block;
    content: "";
}
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
button {
    background: none;
    border: none;
    font-size: 16px;
    color: #000;
    font-family:"Cafe24 Decobox"
}
html {
    scroll-behavior: smooth;
    color: #000;
    box-sizing: border-box;
}
h2.section_title {
    text-align: center;
    font-size: 135px;
    margin-bottom:50px;
    padding-top:100px;
    font-family:"Cafe24 Decobox";
    color:#42763f;
    font-weight:500;
    position:relative;
    
}
h2.section_title::after{font-family:"Cafe24 Decoline";display:block;color:#000;font-weight:100;text-align:center;margin-top:-142px;margin-left:-5px;font-size: 137px;letter-spacing:-1px}

#about h2.section_title::after{content:"ABOUT M.Y";}
.green {
    color: #42763f;
    font-weight: 900;
    background:rgb(66, 118, 63,0.1);
}

/* mouse scroll icon */
.scroll-downs{position:absolute;bottom:100px;left:50%;animation:scroll infinite 2s;}
.scroll--downs{font-family:"Cafe24 Behappy";font-size: 30px;cursor:pointer;color:rgba(230,110,44,0.6)}
.scroll--downs>i{font-size: 15px;display:block;text-align:center;}
@keyframes scroll {
    0% {
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
#wrap{min-width:1600px;}
::selection{background-color:rgb(66, 118, 63,0.2);}
.container {
    font-family: "나눔스퀘어";z-index:15;
}
/* top btn */
.top.on {
    opacity:1;
    transition:0.5s
}
.top:hover .top__svg{
    animation-play-state:paused;
}
.top {
    position:fixed;
    opacity:0;
    right:50px;bottom:50px;
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 22px "Josefin Sans"; 
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    
}
.top__svg{
    width: 100%;
    height: auto;
    transform-box: fill-box;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:#000;
    stroke:#0000;
    animation:rotate normal infinite 30s linear;
}
.top_icon{position:fixed;font-size: 30px;font-weight: 100;font: 100 22px "Josefin Sans"; bottom:120px;right:120px;}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
/* header */
#header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}
.logo {
    float: left;
    width: 20%;
    height: 100%;
}
.logo > a {
    display: block;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    font-family:"Cafe24 Behappy"
}
#nav {
    float: right;
    width: 60%;
    height: 100%;
}
.gnb > li {
    float: left;
    width: 20%;
    height: 100%;
    display: block;
}
.gnb > li > a {
    line-height: 100px;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family:"Cafe24 decobox"
}
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background:rgb(246, 243, 235,0.9);
    box-shadow:5px 5px 5px rgba(0,0,0,0.1);
    height: 60px;
}
#header a{
    transition:0.5s;
}
#header.fixed  a {
    line-height: 60px;
}
/* main */

  
/* home */
#home {
    width: 100%;
    height: 800px;
    position: relative;
    background:#f9bb85;
}
.home_text{font-size: 120px;position:absolute;top:300px;left:50%;transform:translateX(-50%);}
.home_greeting{font-family:"Cafe24 Behappy";font-weight: 500;color:#42763f;text-shadow:5px 5px 0px rgba(230,110,44,0.6);}

.home_txt{font-size: 20px;margin-top:10px;}
.close_btn{text-align:center;background:#fff;width:200px;height: 25px;line-height:25px;cursor:pointer;position:absolute;top:260px;}
.screen_info{position:absolute;top:100px;;width:200px;height:160px;background:rgba(255,255,255,0.3);text-align:left;padding:20px;line-height:20px;font-size: 14px;}

.flower{width:300px;height:300px; background-repeat:no-repeat;background-position:center;
    background-position: 50% 50%;
}
.p_f{
    background-image:url(../images/purple_flower.png);
    /* animation:rotate_flower 6s infinite; */
}
.purple_flower{position:absolute;left:950px;top:250px;}

@keyframes rotate_flower{
    0%{transform:rotate(360deg);}
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-top:-90px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }





/* about */

#about {
    width: 100%;
    height: 1850px;
    background:rgb(246, 243, 235);


}
.about_wrap {
    padding: 0 300px;
    height: 100%;
}
.about_box {
    float: left;
    width: 50%;
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 20px;
}
.about_box:nth-of-type(1) {
    height: 300px;
    border-bottom: 2px solid #000;

}
.about_box:nth-of-type(2) {
    height: 300px;
    padding-top: 50px;
    border-bottom: 2px solid #000;
}
.about_box:nth-of-type(3) {
    height: 500px
}
.about_box:nth-of-type(5) {
    width: 100%;
}
.about_edu > ul > li {
    margin-bottom: 30px;
}
.about_lic > ul > li {
    margin-bottom: 30px;
}
.edu_strong {
    display: block;
    font-weight: 900;
    margin-bottom: 5px;
    color:rgb(66, 118, 63)
}
.about_lic {
    margin-top: 80px;
}
.lic {
    float: left;
    width: 50%;
}
.lic_strong {
    display: block;
    font-weight: 900;
    margin-bottom: 5px;
    color:#42763f
}
.lic_em {
    display: block;
}
.about_title{position:relative;text-transform: uppercase;font-family:"Cafe24 Decobox";font-weight: 100;}
.about_box > div > h3 {
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
}
.about_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}
.about_resume {
    margin: 20px auto;
    height: 40px;
    width: 150px;
}
.about_resume__click {
    display: block;
    text-align: center;
    line-height: 40px;
    border:1px solid #42763f;
    font-family:"Cafe24 Decobox";
    font-size: 15px;
    transition:0.5s;
}
.about_resume__click:hover{
    background:rgb(66, 118, 63);
    color:#fff;
    box-shadow:3px 3px 10px #000;
}
.about_strength {
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
}
.about_p {
    margin-bottom: 30px;
}
.about_p > strong {
    font-weight: 900;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.about_p>strong>i{
    color:#42763f}
/* about - skill */
.about_skill {
    position: relative;
}
.about_skill_title{font-family:"Cafe24 Decobox";}
.skill_list {
    width: 1000px;
    transition: 0.5s;
}
.skill_list.on {
    height: 150px;
}
.skill_list.on .skill_list__name{font-weight: 900;}
.skill_list__name {
    cursor: pointer;
    width: 1000px;
    height: 50px;
    font-size: 20px;
    font-style:italic;
    padding-left: 15px;
    position: relative;
    border-bottom:3px dashed #f9bb85;
    line-height: 50px;
    margin-top: -1px;
}
.skill_list .skill_list__name .skill_level{
font-size: 10px;
margin-left:5px;
color:#f9bb85;
}
.skill_level>i{margin-right:2px;}
.skill_list .skill_list__name::before {
    content:"\f22d";
    font-family: "FontAwesome";
    font-style:normal;
    font-size:10px;
    display:block;
    position:absolute;
    left:0;
    top:0;
    color:#f9bb85;
}
.skill_list.on .skill_list__name::before{
    font-weight: 900;
}
.skill_list .skill_list__name::after{
    content: "\f0d7";
    display: block;
    position: absolute;
    right:10px;
    top:0;
    font-family: "FontAwesome";
    font-style:normal;
    color:#f9bb85;
}
.skill_list.on .skill_list__name::after {
    content: "\f0d8";
}

.skill_list__desc {
    display: none;
    width: 100%;
    height: 100px;
    padding: 10px 25px;
    line-height: 25px;
    background:#f5e2d2;
}

/* web */
#web_work{background:#F6F3EB;}
#web_work h2.section_title::after{content:"WEB PROJECT";}
.web{height:500px;width:1000px;padding:80px 50px;margin:auto;}
.web_img{float:left;width:50%;height:350px;overflow:hidden;border-radius:30px;border:10px solid rgb(66, 118, 63,0.1);}
.web_txt{float:left;padding:0 50px;width:50%;}
.web_name{font-size: 40px;font-weight: 500;padding-top:10px;font-family:"Cafe24 Decobox";}
.web_name>em{font-size: 16px;display:block;margin-top:5px;font-weight: 600;}
.web_overview{margin:30px 0 50px;}
.web_desc{margin-bottom:10px;font-size: 14px;}
.web_desc_title{font-weight: 900;display:inline-block;background:rgb(66, 118, 63,0.3);}
.web_desc_detail{display:inline-block;}
.btndiv{margin-top:30px;}
.web_btn{padding:0;}
.web_btn>a{font-family:"Cafe24 Decobox";font-size: 15px;font-weight: 100;display:block;line-height:40px;width:100px;height:40px;border:1px solid #42763f;transition:0.5s;}
.web_btn:hover>a{background:#42763f;color:#fff;box-shadow:2px 2px 7px #000;}
/* design */
#design_work {
    width: 100%;
    height: 1080px;
    position: relative;
    background:#F6F3EB;
}
#design_work h2.section_title::after{content:"DESIGN WORK";}
.design_event{
    width:100%;
    height:500px;
    padding-left:300px;}
.event_work {
    float: left;
    margin: 30px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background:#fff;
}

.event_img img{transition:0.5s;}
.event_img {
    width: 230px;
    height: 300px;
    overflow: hidden;
    transition:0.5s;
}

.event_info {
    width:230px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color:#999;
}
.layer_bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}
.layer_bg .popup {
    width: 700px;
    height: 0;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:5px 5px 10px #333;
    overflow-y: scroll;
    z-index: 900;
}
.layer_bg .popup img {
    width: 100%;
    box-sizing: border-box;
}
.layer_bg .close {
    z-index:900;
    position: fixed;
    top: 85px;
    right: 540px;
    background: none;
    display: block;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight:900;
    cursor: pointer;
}
.layer_bg .close:hover{
    color:#000;
}
.popup::-webkit-scrollbar {
    width: 10px;
    background-color: #42763f;
}
.popup::-webkit-scrollbar-thumb {
    background-color: #f9bb85;
}
.popup::-webkit-scrollbar-track {
    background-color: #F6F3EB;
}
.banner_title{
    text-align:center;
    margin-top:20px;
    font-size: 12px; 
    color:#999;}
.design_banner {
    width: 500px;
    height: 53px;
    overflow: hidden;
    position: relative;
    margin:auto;
    
    box-shadow:5px 5px 15px #000;
}
.banner_work {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}
.banner_work:nth-child(1) {
    top: 0;
    animation: ban_rolling1 5s linear infinite;
}
.banner_work:nth-child(2) {
    top: 0;
    animation: ban_rolling2 5s linear infinite;
}
.banner_work:nth-child(3) {
    top: 0;
    animation: ban_rolling3 5s linear infinite;
}
@keyframes ban_rolling1 {
    0% {
        top: 0;
    }
    33.3% {
        top: -53px;
    }
    66.6% {
        top: 53px;
    }
    100% {
        top: 0;
    }
}
@keyframes ban_rolling2 {
    0% {
        top: 53px;
    }
    33.3% {
        top: 0;
    }
    66.6% {
        top: -53px;
    }
    66.7% {
        top: 53px;
    }
    100% {
        top: 53px;
    }
}
@keyframes ban_rolling3 {
    0% {
        top: 53px;
    }
    33.3% {
        top: 53px;
    }
    66.6% {
        top: 0;
    }
    100% {
        top: -53px;
    }
}
/* contact */
#contact {
    width: 100%;
    height: 720px;
    background:#f9bb85;
}
#contact h2.section_title::after{content:"CONTACT ME";}
#contact .left {
    float: left;
    width: 50%;
    padding-left: 300px;
}
#contact .right {
    float: left;
    width: 50%;
    padding: 0 160px;
}
#contact .left .contact-text {
    font-size: 55px;
    font-family:"Cafe24 Behappy";
}
#contact .right .contact-text{
    font-family:"Cafe24 Behappy";
    font-size: 30px;
}
#contact .left > p {
    font-size: 15px;
    margin: 10px 0 50px;
}
#contact .icons-content {
    display:block;
    width:180px;
    margin-bottom: 10px;
    font-family:"Cafe24 Behappy";
    font-size:25px;
    cursor:pointer;
}
#contact .icons-content>a{position:relative;}
#contact .icons-content > a::before {
    width:0%;
    height:5px;
    left:0;bottom:0;
    content:"";
    position:absolute;
    display:block;
    background:rgba(230,110,44,0.6);
    transition:0.5s;
}
#contact .icons-content:hover>a::before{
    width:100%;
}
#contact .icons-content >i {
    margin-right: 10px;
    transition:6s;
    width:30px;height:30px;
    background:rgba(230,110,44,0.6);
    color:rgba(0,0,0,0.8);
    border-radius:10px;
    text-align:center;
    line-height:30px;
    font-size: 16px;
}
#contact input {
    width: 300px;
    height: 35px;
    font-size: 14px;
    padding-left:10px;
    font-family:"나눔스퀘어";
    border:1px solid rgba(230,110,44,0.6);
}
#contact input::placeholder,textarea::placeholder{
    font-family:"Cafe24 Behappy";
    font-size: 24px;
    color:#999;
}
textarea{
    font-family:"Cafe24 Behappy";
    font-size: 14px;
    width: 300px;
    height: 200px;
    padding-left:10px;
    border:1px solid rgba(230,110,44,0.6);}
#contact .field {
    margin-top: 5px;
}
#contact .btn {
    width:300px;
    position:relative;
    
}
#contact button:hover svg{
    transform:rotate(15deg);
    fill:#fff;
}
#contact svg{
    position:absolute;
    top:7px;
    right:100px;
    height:25px;
    width: auto;
    transition:0.5s;
}
#contact button {
    line-height: 40px;
    width: 300px;
    height: 40px;
    margin: 0px auto;
    cursor: pointer;
    transition:0.5s;
    color:#000;
    border:1px solid rgba(230,110,44,0.6);;
    
}
#contact button:hover{
    color:#fff;
    background-color:rgba(230,110,44,0.6);
    box-shadow:3px 3px 10px #000;
}
/* footer */
#footer {
    width: 100%;
    height: 90px;
    font-size: 14px;
    background:#f9bb85;
}
.copyright {
    text-align: center;
    padding-top: 10px;
    font-weight: 100;
    font-size: 14px;
}
.bar{
    width:100%;
    height:60px;
    background:#42763f;
    overflow:hidden;
    padding:11px 0;
    box-sizing:border-box;
    white-space:nowrap;
    position:relative;
    display:flex;
    border-top:2px solid;
    border-bottom:2px solid;

}
.bar span{
    font-size:2.5rem;
    line-height:1;
    font-weight:normal;
    white-space:nowrap;
    font-family:"Cafe24 Decobox";
    text-align:center;
    animation:textloop 10s linear infinite;
}
@keyframes textloop{
    0%{transform:translateX(0);}
    100%{transform:translateX(-100%);}

}