#web .proj{width: 80%;height: 1080px;margin:auto;display:flex;}
#web .preview{width:50%;}

#web .work{padding:50px;box-sizing:border-box;width:50%;margin-top:100px;}
#web .work li{width: 100%;height: 60px;border-bottom:5px solid #ccc;}
#web .work li a{font-size: 25px;line-height:60px;display:block;font-weight: 700;padding-left:5px;color:#ccc}
#web .work li a span{font-size: 16px;color:#ccc;margin-left:15px;font-weight: 300;}
#web .work li a em{display:none;}
#web .work li:hover a{color:navy;transform:translateX(25px);transition:0.6s
}
#web .work li:hover a span{color:navy}
#web .work li:hover a em{display:inline-block; padding:5px;font-size: 15px;line-height:25px;height:25px;width:125px;background:navy;color:#fff;border-radius:5px;margin-left:70px;text-align:center;}
#web .work li a i{visibility:hidden;font-weight: 900;}
#web .work li:hover a i{visibility: visible;}
#web .proj .preview{background-repeat:no-repeat;background-position:-50px 100px;background-image:url(../images/computer_mockup.png);}
#web .proj .preview li{position:absolute;left:300px;top:280px;visibility: hidden;}